* {
    box-sizing: border-box;
}

:root {
    --primary-color: #94c74c;
    --secondary-color: #000;
    --text-color--dark: #434343;
    --text-color--gray: #555;
    --text-color--light: #fff;
    --hover-color: #94c74c;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    width: 100%;
    color: #434343;
    ;
}

a {
    text-decoration: none;
}

input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}

.btn {
    --width: 200px;
    --height: 55px;
    display: inline-block;
    min-width: var(--width);
    height: var(--height);
    line-height: var(--height);
}

.btn--primary {
    color: var(--text-color--light);
    background-color: var(--secondary-color);
}

.btn--secondary {
    color: #ffffff;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn--tertiary {
    color: #ffffff;
    background-color: #00383c;
    border: 1px solid #00383c;
}

@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}

.mt-50 {
    margin-top: 50px;
}

.mt-85 {
    margin-top: 85px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-110 {
    margin-bottom: 110px;
}

.mb-115 {
    margin-bottom: 115px;
}

.mb-120 {
    margin-bottom: 120px;
}

.black-bg {
    background: #000000 !important;
}