.checkbox-form h3 {
    border-bottom: 1px solid #e5e5e5;
    font-size: 25px;
    margin: 0 0 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    width: 100%;
}

.checkout-form-list {
    margin-bottom: 30px;
}

.checkout-form-list label {
    color: #333;
    margin: 0 0 5px;
    display: block;
}

.checkout-form-list input[type="text"],
.checkout-form-list input[type="password"],
.checkout-form-list input[type="email"] {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    height: 42px;
    width: 100%;
    padding: 0 0 0 10px;
}

.checkout-form-list label span.required {
    color: red;
    font-size: 24px;
    display: inline-block;
    line-height: 16px;
    position: relative;
    top: 5px;
}

.your-order {
    background: #f2f2f2 none repeat scroll 0 0;
    padding: 30px 40px 45px;
}

.your-order-table table {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    width: 100%;
}

.payment-method {
    margin-top: 40px;
}

.payment-accordion .card {
    border: 0;
    border-radius: 0;
    background: #f2f2f2;
}

.payment-accordion .card-header {
    padding: 0;
    margin-bottom: 0;
    background-color: #f2f2f2;
    border-bottom: 0;
}

.payment-accordion h5.panel-title {
    color: #444;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.payment-accordion .card-body>p {
    color: #515151;
}

.order-button-payment input {
    background: #434343 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    height: 50px;
    margin: 20px 0 0;
    padding: 0;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    border: 1px solid transparent;
    cursor: pointer;
}

.your-order-table table th,
.your-order-table table td {
    border-bottom: 1px solid #d8d8d8;
    border-right: medium none;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 0;
    text-align: center;
}

.your-order-table table th {
    border-top: medium none;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    width: 250px;
}

.your-order-table table .order-total th {
    border-bottom: medium none;
    font-size: 18px;
}

.your-order-table table tr.order-total td span {
    color: #464646;
    font-size: 20px;
}

.your-order-table table .order-total td {
    border-bottom: medium none;
}

.order-button-payment input:hover {
    background: #abd373;
}