#feature {
    margin-top: 120px;
}
.single-feature {
    padding: 50px 35px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.feature-icon>span {
    font-size: 60px;
    color: #abd373;
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
}

.lnr {
    font-family: Linearicons-Free;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.feature-content>h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.feature-content>p {
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1.5px;
    margin: 0;
}

.single-feature:hover {
    box-shadow: 0px 10px 30px 0px rgba(209, 209, 209, 0.5);
}

@keyframes crFlipX {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    50% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

.single-feature:hover .feature-icon>span {
    -webkit-animation: crFlipX 2s ease-in-out infinite backwards;
    animation: crFlipX 2s ease-in-out infinite backwards;
}

